<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<style>
  .user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
  }
  
  .user-message--error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
    margin-bottom: 16px;
  }

  .invalid {
      border-color: red;
  }
</style>

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Product</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <% if (errorMessage) { %>
                  <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <form action="/add-product" method="POST" enctype="multipart/form-data" novalidate>
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input class="<%= validationErrors.find(e => e.param === 'title') ? 'form-control invalid' : 'form-control' %>" type="text" id="title" name="title" value="<% if (hasError) { %><%= product.title %><% } %>"/>
                    </div>

                    <!-- <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'form-control invalid' : 'form-control' %>" type="text" name="imageUrl" id="imageUrl" value="<% if (hasError) { %><%= product.imageUrl %><% } %>"/>
                    </div> -->

                    <div class="form-group">
                      <label for="image">Image</label>
                      <input class="form-control" type="file" name="image" id="image" />
                    </div>

                    <div class="form-group">
                      <label for="category">Category</label>
                      <input class="<%= validationErrors.find(e => e.param === 'category') ? 'form-control invalid' : 'form-control' %>" type="text" name="category" id="category" value="<% if (hasError) { %><%= product.category %><% } %>" />
                    </div>

                    <div class="form-group">
                      <label for="subcategory">SubCategory</label>
                      <input class="<%= validationErrors.find(e => e.param === 'subcategory') ? 'form-control invalid' : 'form-control' %>" type="text" name="subcategory" id="subcategory" value="<% if (hasError) { %><%= product.subcategory %><% } %>" />
                    </div>

                    <div class="form-group">
                      <label for="size">Size</label>
                      <input class="<%= validationErrors.find(e => e.param === 'size') ? 'form-control invalid' : 'form-control' %>" type="text" name="size" id="size" value="<% if (hasError) { %><%= product.size %><% } %>"/>
                    </div>

                    <div class="form-group">
                      <label for="color">Color</label>
                      <input class="<%= validationErrors.find(e => e.param === 'color') ? 'form-control invalid' : 'form-control' %>" type="text" name="color" id="color" value="<% if (hasError) { %><%= product.color %><% } %>"/>
                    </div>

                    <div class="form-group">
                      <label for="actprice">Actual Price</label>
                      <input class="<%= validationErrors.find(e => e.param === 'actprice') ? 'form-control invalid' : 'form-control' %>" type="number" name="actprice" id="actprice" step="0.01" value="<% if (hasError) { %><%= product.actprice %><% } %>" />
                    </div>
                  
                    <div class="form-group">
                      <label for="price">Selling Price</label>
                      <input class="<%= validationErrors.find(e => e.param === 'price') ? 'form-control invalid' : 'form-control' %>" type="number" name="price" id="price" step="0.01" value="<% if (hasError) { %><%= product.price %><% } %>"/>
                    </div>

                    <div class="form-group">
                      <label for="discount">Discount</label>
                      <input class="<%= validationErrors.find(e => e.param === 'discount') ? 'form-control invalid' : 'form-control' %>" type="number" name="discount" id="discount" step="0.01" value="<% if (hasError) { %><%= product.discount %><% } %>" />
                    </div>
                  
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="<%= validationErrors.find(e => e.param === 'description') ? 'form-control invalid' : 'form-control' %>" name="description" id="description" rows="5"><% if (hasError) { %><%= product.description %><% } %></textarea>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                  </form>
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>

</div>

</div>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>