<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/pagination.css">
<style>
    img {
        width: 80px;
        height: 80px;
    }
</style>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1> -->


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cart</h6>
        </div>
        <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTable_length">
                                <label>
                                    Show 
                                    <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> 
                                    entries
                                </label>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <form action="/cart-search" method="get">
                                <label>Search:
                                    <input type="search" name="search" id="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                                </label>
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                    <div class="col-sm-12">
                    <div class="table-responsive text-nowrap">
                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% if (products.length > 0) { %> 
                        <% products.forEach(p => { %> 
                        <tr>
                            <td><img src="http://localhost:8000/<%= p.productId.imageUrl %>" alt="<%= p.productId.title %>"></td>
                            <td><%= p._id %></td>
                            <td><%= p.productId.title %></td>
                            <td><i class="fa fa-rupee" style="font-size:14px"></i><%= p.productId.price %></td>
                            <td><%= p.quantity %></td>
                        </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="5">No Cart Found!</td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
                <% if (products.length > 0) { %>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                <% } %>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                    Showing 1 to 2 of 2 entries
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active">
                            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item next disabled" id="dataTable_next">
                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
            </div>
        </div>
    </div>

</div>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>