<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/product.css">

<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product-Detail</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <main class="centered">
                    <h1><%= product.title %></h1>
                    <hr>
                    <div class="image">
                        <img src="http://localhost:8000/<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <h6>Size: <%= product.size %></h6>
                    <h6>Color: <%= product.color %></h6>
                    <h2><span style="color: #e20c77;">-<%= product.discount %>% </span><i class="fa fa-rupee" style="font-size:27px; padding-left: 10px;"></i><%= product.price %></h2>
                    <h5 style="text-decoration: line-through;"><i class="fa fa-rupee" style="font-size:18px"></i><%= product.actprice %></h5>
                    <p><%= product.description %></p>
                </main>
                </div>
                </div>
                </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    </div>
    </div>

</div>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>