<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<!-- <link href="/css/core-style.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet"> -->
<style>
    .user-message {
      margin: auto;
      width: 90%;
      border: 1px solid #4771fa;
      padding: 0.5rem;
      border-radius: 3px;
      background: #b9c9ff;
      text-align: center;
    }
    
    .user-message--error {
      border-color: red;
      background: rgb(255, 176, 176);
      color: red;
      margin-bottom: 16px;
    }

    .invalid {
        border-color: red;
    }
</style>
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1> -->


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add Role</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <form action="/signup" method="POST" novalidate>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="<%= validationErrors.find(e => e.param === 'name') ? 'form-control invalid' : 'form-control' %>" type="text" value="<%= oldInput.name %>" id="name" name="name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input class="<%= validationErrors.find(e => e.param === 'email') ? 'form-control invalid' : 'form-control' %>" type="email" value="<%= oldInput.email %>" id="email" name="email">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input class="<%= validationErrors.find(e => e.param === 'password') ? 'form-control invalid' : 'form-control' %>" type="password" value="<%= oldInput.password %>" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="phoneno">Phone No</label>
                        <input class="<%= validationErrors.find(e => e.param === 'phoneno') ? 'form-control invalid' : 'form-control' %>" type="number" value="<%= oldInput.phoneno %>" id="phoneno" name="phoneno">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-primary">Add Role</button>
                  </form>
                <!-- <div class="cart-table-area section-padding-100">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="checkout_details_area mt-50 clearfix">
        
                                    <div class="cart-title">
                                    
                                    </div>
                                    <% if (errorMessage) { %>
                                        <div class="user-message user-message--error"><%= errorMessage %></div>
                                    <% } %>
                                    <form action="/signup" method="POST" novalidate>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <input class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : 'form-control' %>" type="text" id="name" name="name" value="<%= oldInput.name %>" placeholder="Name">
                                            </div>
                                            
                                            <div class="col-md-12 mb-3">
                                                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : 'form-control' %>" type="text" id="email" name="email" placeholder="Email" value="<%= oldInput.email %>">
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : 'form-control' %>" type="password" id="password" name="password" placeholder="Password" value="<%= oldInput.password %>">
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <input class="<%= validationErrors.find(e => e.param === 'phoneno') ? 'invalid' : 'form-control' %>" type="number" id="phoneno" name="phoneno" value="<%= oldInput.phoneno %>" placeholder="Phone No">
                                            </div> -->
                                            <!-- <div class="col-md-6 mb-3">
                                                <input type="text" class="form-control" id="zipCode" placeholder="Role" value="">
                                            </div> -->
                                            <!-- <div class=" inputBx col-md-3">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="submit" name="" value="Submit" />
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div> -->
        </div>
        </div>
        </div>
        </div>
    </div>

</div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<!-- <footer class="sticky-footer bg-white">
<div class="container my-auto">
    <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2022</span>
    </div>
</div>
</footer> -->
<!-- End of Footer -->
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>